<%- include('partial/header') -%>
<form action="/users/subcription" method="POST">
   <select name="subcription" id="">
    <option value="Free">Free</option>
    <option value="VIP">VIP</option>
    <option value="Premium">Premium</option>
   </select>
    <div>
        <input type="submit" name="" id="" value="Update Subcription">
    </div>
</form>

<%- include('partial/footer') -%>